/* Reset básico para remover estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f1de; /* Cor de fundo pastel */
    color: #3d405b; /* Cor do texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #f2cc8f; 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

nav div:first-child img {
    height: 50px; 
}

nav div:last-child a {
    text-decoration: none;
    color: #3d405b;
    font-weight: bold;
} */

main {
    padding: 20px;
    width: 90%;
    max-width: 500px; /* Ajuste conforme necessário */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os elementos do formulário */
}

select {
    padding: 10px;
    border: 1px solid #3d405b; /* Cor da borda */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #ffffff; /* Cor de fundo */
    color: #3d405b; /* Cor do texto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

select:hover {
    background-color: #f2cc8f; /* Cor de fundo ao passar o mouse */
}

select:focus {
    outline: none; /* Remove o contorno padrão ao focar */
    border-color: #81b29a; /* Cor da borda ao focar */
}

input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #81b29a; /* Cor pastel para o botão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #9dc3a2; /* Cor mais clara para o hover */
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #b8f2e6; /* Verde pastel */
    padding: 10px 20px;
    border-radius: 0 0 10px 10px; /* Arredondando as bordas inferiores */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1001; /* Garantindo que fique acima de outros elementos */
    font-size: 16px;
    color: #333;
    transition: top 0.5s ease; /* Transição suave para aparecer e desaparecer */
}

/* Adicionando transições suaves */
button, .popup {
    transition: background-color 0.3s ease;
}